/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		text-align: center;
		vertical-align: baseline; }
	h1{
		font-size: 50px;
		margin: 30px 0px 5px 0px; }
	h3{
		font-size: 25px;
		margin: 30px 0px 5px 0px; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
	#picture {
			/* ensure 1:1 aspect ratio, tweak 50 to make SVG larger */
			width: 50vmin;
			height: 50vmin;  
			/* set some maximum size (width and height need to match
			 * aspect ratio, 1:1 in this case */
			max-width: 200px;
			max-height: 200px;
		  }
	.silver-background{
		background-color: silver;
	}
	article {
		width: 50%;
		margin: 0 auto;
	}
	.tooltip {
		position: absolute;
		z-index: 10;
		visibility: hidden;
		background-color: black;
		text-align: center;
		padding: 4px;
		border-radius: 4px;
		/*font-weight: bold;*/
		color: white;
		font-size: 20px;
	}


/* Layout
============================ */

body {
    background: white;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

article, p {
	text-align: left;
}

#main-wrapper {
	width: 950px;
	height: 950px;
    margin: 20px auto;
}

#chart {
	padding: 1%;
	margin: 1%;
}

text {
    font-family: "Arial";
}

.buttonsContainer {
	margin: 20px;
	padding: 20px;
}
.buttonsContainer button {
	background-color: #baeaf9;
	border: 0px;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px #00aeef solid;
	font-size: 16px;
}
#normal {
	background-color: #00aeef;
}

table {
	margin: auto;
}
td {
	padding: 5px 15px;
	font-weight: bold;
	font-size: 16px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

